
#main-menu a{-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
behavior: url("PIE.htc");}
.read-more{-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;}
#chapter-nav a{-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
behavior: url("PIE.htc");}
#news-bar{-webkit-border-top-left-radius: 0;
-webkit-border-top-right-radius: 0;
-webkit-border-bottom-left-radius: 4px;
-webkit-border-bottom-right-radius: 4px;
-moz-border-radius: 0 0 4px 4px;
border-radius: 0 0 4px 4px;
behavior: url("PIE.htc");}
#main-menu a:hover, #main-menu li.active a{text-shadow: 0px 1px 1px #4d781b;}
#news-bar a, #news-bar span{text-shadow: 0px 1px 1px #9397a0;}


.read-more{*display:inline;}



/********************/
@media only screen and (max-width: 1024px) {

}

/* Style adjustments for IPAD Portrate */
@media only screen and (min-width: 768px) and (max-width: 991px) {

}

/*Tablet Layout: 768px.*/
 /* Style adjustments for IPAD Portate and Iphone */
@media only screen and (max-width: 991px) {
	.chapters-container {
		padding: 5%;
	}
	.heading-1{font-size:24px;}
	.heading-2{font-size:20px;}
	.icons li{font-size:11px; line-height:13px;}
}

/* Style adjustments for Mobile */
@media only screen and (max-width: 767px) {

	body p {font-size: 13px; line-height: 1.7;}

	/*.layout{width:440px;}*/
	#header{height:133px;}
	#news-bar{top:153px; background-image:none; line-height:15px; padding-bottom:10px; padding-top:7px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;}

	#main-menu{margin-top:84px; float:left;}
	#main-menu li{padding:0 17px 0 0;}
	#main-menu li.no-link a{padding-left:0; padding-right:0}
	#logo{top:20px; left:10px;}
	#chapter-nav{display:none;}
	.text-content, .right-content .text-content{position:static !important; margin:0 auto !important; float:none; }
	#chapter1-block .text-content{padding-top:0;}
	.map-block{margin-top:55px;}

	#chapter2-block {
		height: auto;
	}
	#chapter-2-special-img {
		display: block;
		max-width: 100%;
	}

	.right-content {
		height: auto;
	}

	.chapter {
		padding-bottom: 70px;
	}

	.text-content{
		overflow:hidden; width: auto;
	}
	.heading-2{
		margin-top:20px;}

	.laning-page.map-block {
		margin-left: 0 !important;
		width: auto;
		max-width: 100%;
	}

	.map-block {
		width: auto;
		max-width: 100%;
	}

}

/* Style adjustments for Mobile Portrate */
@media only screen and (max-width : 479px) {
	/*.layout, .sequence-block, .text-content, .right-content .text-content{width:300px;}*/
	#main-menu li{padding-right:4px;}
	#main-menu a{padding-left:9px; padding-right:9px; font-size:12px; }
	/*li.sequence, .chapter{min-height:290px !important}*/
	li.sequence{margin:0; width:100%;}
	#news-bar a{font-size:11px;}
	#news-bar{padding-top:3px; padding-bottom:3px;}

	#footer{margin-top:50px;}
}
